{% extends "accounts/base.html" %}
{% block content %}
<h2>Dashboard</h2>
<p>Bienvenido {{ user.username }} al sistema Dulcería Lili</p>

<div class="row">
    <div class="col-md-4">
        <a href="{% url 'producto_list' %}" class="btn btn-outline-primary w-100 mb-2">Productos</a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'proveedor_list' %}" class="btn btn-outline-primary w-100 mb-2">Proveedores</a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'orden_list' %}" class="btn btn-outline-primary w-100 mb-2">Órdenes de Compra</a>
    </div>
</div>
{% endblock %}
